*{
  font-family: 'Source Sans Pro', sans-serif;
  list-style: none;
  max-width: 100%;
  margin-left: 5px;
  text-decoration: none;
}

/******Toolbar*******/

.toolbar{
  background-color: #FA6838;
  margin-top: 1%;
}

.toolbar li {
  display: inline-block;
  margin-right: 0px; 
  color: #FEFEFE;
  margin: 1%;
  font-size: 0.9em;
}

li.free{
  background-color: #C7532B;
  padding: 4px;
  border-radius: 2px;
}

/*******Titlebar*******/
.wholetitlebar{
  padding-bottom: 5%;

}

.skinnylogo img{
  width: 120px;
  margin-left: 95px;
  margin-top: -15px;
  margin-right: 60px;
  float: left;
}


.titlebar li{
  display: inline-block;
  font-size: 25px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 25px;
  float: left;
  position: relative;
}

.collection li:after{
  content:"";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 4px 0 4px;
  border-color: #E3E2E2 transparent transparent transparent;
  position: absolute;
  top: 40px;
  right: 59px;
}

.color li:after{
  content:"";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 4px 0 4px;
  border-color: #E3E2E2 transparent transparent transparent;
  position: absolute;
  top: 40px;
  right: 32px;
}

.width li:after{
  content:"";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 4px 0 4px;
  border-color: #E3E2E2 transparent transparent transparent;
  position: absolute;
  top: 40px;
  right: 34px;
}

.fabric li:after{
  content:"";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 4px 0 4px;
  border-color: #E3E2E2 transparent transparent transparent;
  position: absolute;
  top: 40px;
  right: 36px;
}

.pattern li:after{
  content:"";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 4px 0 4px;
  border-color: #E3E2E2 transparent transparent transparent;
  position: absolute;
  top: 40px;
  right: 46px;
}

.shopping li{
  display: inline-block;
  margin: 5px;
  margin-top: 0px;
  float: right;
  color: #959595;
}

.line1{
  font-size: 10px;
  margin-bottom: 10px;
}

.cart{
  border: 1px solid black;
  border-radius: 2px;
  font-size: 20px;
  width: 90px;
  height: 20px;
  padding-bottom: 5px;
}

.cart div{
  display: inline-block;
  font-size: 14px;
  }

.form{
  padding: 0px 0px;
  width: 20px 50px;
}

.cart-sprite{
  background: url('images/sprite@2x.png') no-repeat -45px -1px;
  background-size: 400px 200px;
  width: 14px;
  height: 12px;
}

.searchbar input.placeholder{
  float: right;
}

.searchbar input:before{
  background: url('images/sprite@2x.png') no-repeat -45px -1px;
  background-size: 400px 200px;
  width: 14px;
  height: 12px;  
}

/*********Ties Images*******/

.background{
  background-color: #F4F4F4;
  max-width: 100%;
  padding-bottom: 10px;
  border-top: 5px solid transparent;
  -webkit-border-image: url('images/perforated-bottom%402x.png') 23 30 repeat;
  -webkit-o-image: url('images/perforated-bottom%402x.png') 23 30 repeat;
  border-image: url('images/perforated-bottom%402x.png') 23 30 repeat;
  border-bottom: 0;
}

.tiecolors{
  display:inline-block;
  text-align: center;
  margin-left: 150px;
}

.tie{
  display: inline-block;
}

.tie img{
  width: 65%;
  margin-right: -9px;
}

.dressbetter{
  text-align: center;
  font-size: 50px;
}

/*********Other Ties, Three Squares********/

.threesquares{
  width: 100%;
  margin-top: 50px;
  text-align: center;
  padding-bottom: 60px;
  border-bottom: 11px solid transparent;
  -webkit-border-image: url('images/hatch-light%402x.png') 30 3 repeat;
  -webkit-o-image: url('images/hatch-light%402x.png') 20 3 repeat;
  border-image: url('images/hatch-light%402x.png') 30 1 repeat;
  border-top: 0;
}

.squarepics img{
  width: 25%;
  margin-right: 20px;
  display: inline-block;
  margin-bottom: 20px;
}

.threesquares p.italic{
  font-size: 40px;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  margin-bottom: 15px;
  margin-top: 30px;
  padding-top: 20px;
}

.threesquares p.viewstory{
  max-width: 100%;
  font-size: 16px;
  margin-bottom: 10px;
  font-style: none;
  margin-top: 0;
}

.threesquares a{
  color: #2E9FFF;
}

.bowtie{
  font-weight: bold;
  font-size: 25px;
  margin-right: 50px;
  display: inline-block;
}

.bowtie p{
  position: absolute;
  top: 575px;
  left: 350px;
}

.pocketsquare{
  font-weight: bold;
  font-size: 25px;
  margin-right: 50px;
  display: inline-block;
}

.pocketsquare p{
  position: absolute;
  top: 575px;
  left: 700px;
}

.tiebars{
  font-weight: bold;
  font-size: 25px;
  margin-right: 50px;
  display: inline-block;
}

.tiebars p{
  position: absolute;
  top: 575px;
  right: 150px;
}


/*FooterA beginning with Weekly Pick*/

.fourcolumns{
  display: inline-block;
  max-width: 100%;
}

.fourcolumns img{
  width: 250px;
  padding-bottom: 2px;
}

.fourcolumns a{
  color: #2E9FFF;
}

.column{
  margin: 20px;
  font-size: 14px;
  float: left;
}

.column1{
  margin-left: 100px;
}

.column1 p.descrip{
  margin-top: 0;
}

.sprite{
  display: inline-block;
}

.facebook-icon {
  background: url('images/sprite@2x.png') no-repeat -270px 0;
  background-size: 400px 200px;
  width: 35px;
  height: 35px;
}

.pinterest-icon{
  background: url('images/sprite@2x.png') no-repeat -270px -40px;
  background-size: 400px 200px;
  width: 35px;
  height: 35px;
}

.twitter-icon{
  background: url('images/sprite@2x.png') no-repeat -270px -80px;
  background-size: 400px 200px;
  width: 35px;
  height: 35px;
}

.column3 p.subscribe{
  display: inline;
  background-color: #32A0FF;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.column3 input{
  padding-right: 50px;
  padding-left: 5px;
  font-size: 14px;
  box-shadow: 0px 2px 15px 9px #F4F4F4;
}


.column4 p.descrip{s
  margin-top: 0;
}

.title{
  font-weight:bold;
  font-size: 18px;
}

/*FooterB - the actual footer with grey background*/

.footer{
  background-color: #F4F4F4;
  display: inline-block;
  max-width: 100%;
  padding-bottom: 50px;
  border-top: 5px solid transparent;
  -webkit-border-image: url('images/perforated-bottom%402x.png') 23 30 repeat;
  -webkit-o-image: url('images/perforated-bottom%402x.png') 23 30 repeat;
  border-image: url('images/perforated-bottom%402x.png') 23 30 repeat;
  border-bottom: 0;
}

.info{
  display: inline-block;
  float: left;
}

.shopby{
  margin-left: 50px;
}

.topwords{
  font-weight: 800;
  padding-bottom: 3px;
}

.help{
  margin-right: 275px;
}

.contact{
  background-color: #A2AFC0;
  color: white;
  border-radius: 3px;
  width: 300px;
  height: 100px;
  padding: 5px;
  margin-top: -95px;
  margin-right: 65px;
  float: right;
}

.info p.motto{
  margin-top: 5px;
  font-size: 25px;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  margin-bottom: 0px;
}

.contactbutton{
  display: inline-block;
  background-color: #33A1FF;
  border: 5px #2688DC;
  border-radius: 3px;
  margin-left: 20px;
  position: relative;
  padding: 10px;
  left: 175px;
  bottom: 67px;
}

.copyright{
  font-size: 10px;
  position: relative;
  top: 170px;
  right: 778px;
}

.contactinfo{
  margin-top: 6px;
}














