*{
  font-family: 'Source Sans Pro', sans-serif;
  list-style: none;
  max-width: 100%;
}

/******Toolbar*******/

.toolbar{
  background-color: #FA6838;
  margin-left: 10px;
}

.toolbar li {
  display: inline-block;
  margin-right: 0px; 
  color: #FEFEFE;
  margin: 5px;
  font-size: 14px;
}

li.free{
  margin-left: 65px;
  background-color: #C7532B;
  padding: 6px;
  border-radius: 2px;
}

/*******Titlebar*******/
.wholetitlebar{
  padding-bottom: 130px;
  border-bottom: 1px solid black
}
.title{
  bottom-border: 1px solid black;
  overflow: auto;
}

.skinnylogo img{
  width: 150px;
  margin-left: 95px;
  margin-top: -15px;
  float: left;
}


.titlebar li{
  display: inline-block;
  font-size: 25px;
  padding: 10px;
  margin-top: 25px;
  margin-left: 25px;
  float: left;
}

.shopping{
  margin-bottom: 100px;
  margin-right: 75px; 
  float: right;
}

.shopping li{
  display: inline-block;
  padding: 5px;
}

.sign_in{
  width: 100%;
  float: left;
}

.cart{
  width: 100%;
}

/*********Ties Images*******/

.background{
  background-color: #F4F4F4;
  max-width: 100%;
}

.tiecolors{
  display: inline-block;
  text-align: center;
  margin-left: 150px;
  margin-top: -79px;
}

.tie{
  display: inline-block;
}

.tie img{
  width: 65%;
  margin-right: -9px;
}















/*Ties*/

/*Otherties*/

/*Story*/

/*Foot1*/

/*Foot2*/